<head>
  <script type="text/javascript" src="../../Common/js/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="../../Common/js/l10n.js"></script>
  <script type="text/javascript" src="../../Common/js/angular.1.2.32.min.js"></script>
  <script type="text/javascript" src="../../js/definition.js"></script>
  <script type="text/javascript" src="../../js/common.js"></script>
  <script type="text/javascript" src="../../js/bridge.js"></script>
  <script type="text/javascript" src="../../js/customize.js"></script>
  <script type="text/javascript" src="../../js/InstallPage.js"></script>
  <script type="text/javascript" src="../../Common/Directive/max-min.js"></script>
</head>
<body>
  <h1>Install</h1>
</body>